<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Test" value="foogle" />
	</appSettings>
	<connectionStrings>
		<add name="HadokenConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=Hadoken;User ID=sa;Password=Rastus7;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>