<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Test" value="foogle" />
	</appSettings>
	<connectionStrings>
		<add name="HadokenConnectionString" connectionString="Server=LOCALHOST;Port=5432;Userid=postgres;Password=password;Database=Hadoken;" />
	</connectionStrings>
</configuration>